$white: #fff;

$purple: #a874e1;

$pink: #FA6CB0;
$red: #FE0000;
$orange: #FEA500;
$yellow: #FFFF01;
$cyan: #3FE0D0;
$blue: #400097;

$darkgray: #464646;
$normalgray: #3C3C3C;
$activegray: #2E2E2E;
$words: #A6A6A6;

body{
  background: $darkgray;
}
.main{
  max-width: 750px;
  margin: 0 auto;
  background: $darkgray;

  .main-popup{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 99;
    .popup-content{
      width: 88%;
      margin: 78px auto;
      border: 1px solid $normalgray;
      .popup-title{
        color: $white;
        background: $purple;
        padding: 5px;
        line-height: 1.5;
      }
      .popup-words{
        background: #D9D9D9;
        color: black;
        padding: 8px;
        line-height: 1.5;
      }
    }
  }
}
header{
  color: $white;
  background: $purple;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 6px;
  .left{
    display: flex;
    align-items: center;
    font-size: 22px;
    .logo{
      margin-right: 4px;
      .logo-content{
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 2px solid;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        font-size: 26px;
      }
    }
  }
  .right{
    display: flex;
    align-items: center;
    .iconfont{
      margin-left: 12px;
      font-size: 20px;
    }
  }
}

.changeColor{
  height: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: none;
  &.active{
    display: block;
  }
  ul{
    height: 100%;
    display: flex;
    li{
      flex:1;
    }
    // #1c1c1c #333 #626262 #bfbfbf
    :nth-child(1){
      background: #1c1c1c;
    }
    :nth-child(2){
      background: #333;
    }
    :nth-child(3){
      background: #626262;
    }
    :nth-child(4){
      background: #bfbfbf;
    }
    :nth-child(5){
      background: $cyan;
    }
    :nth-child(6){
      background: $blue;
    }
    :nth-child(7){
      background: $purple;
    }
  }
}
// 联系我们

// .contact-us{
// }


// 搜索
.all-search-wrap{
  // display: none;
  .all-search{
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;
    .al-input{
      width: 200px;
      margin: 0 5px 0 10px;
      text-align: left;
      padding-left: 5px;
    }
  }
  &.active{
    display: block;
  }

}

.tabs-nav{
  height: 46px;
  display: flex;
  align-items: center;
  .iconfont{
    height: 100%;
    font-size: 32px;
    padding: 6px;
    color: $words;
    background: $normalgray;
    &.active{
      background: $activegray;
    }
  }
}

.tabs-content{
  color:$purple;
  position: relative;
  .tabs-content-item{
    display: none;
    &.active{
      display: block;
    }
    .item-title{
      text-align: center;
      color: $words;
      line-height: 1.5;
    }
    .item-main{
      display: flex;
      justify-content: center;
      align-items: center;
      .main-img{
        flex: 1;
        img{
          width: 100%;
        }
      }
      span.iconfont{
        font-size: 24px;
      }
    }
  }
}


.params{
  .params-tabs{
    display: flex;
    color: $words;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    span{
      padding: 0 12px;
      background: $normalgray;
      &.active{
        color: $white;
        background: #000;
      }
    }
  }
}


.params-content{
  display: none;
  &.active{
    display: block;
  }
  ul{
    li {
      position: relative;
      .params-title{
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px 0 4px;
        color: $purple;
        transition: color .8s;
        .title-words{
          .iconfont{
          color: $white;
            margin-right: 6px;
          }
        }
      }
      &:nth-child(2n+1) .params-title{
        background: $normalgray;
      }
    }
  }
}

.content-main{
  border: 1px solid #7E7E7E;
  padding: 6px 18px;
  color: $white;
  display: none;
}

// 房间数
.rooms-number{
  color: $white;
  .rooms-range{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rooms-input{
    padding-right: 40px;
    li{
      margin: 5px 0;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .al-input{
        width: 30px;
        margin-right: 10px;
      }
    }
  } 
}

// 窗墙比

.windows-ratio li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  color: $white;
  .direction-words{
    margin-right: 5px;
  }
  input[type="range"]{
    margin: 0 5px;
  }
}

.vs-words{
  margin: 0 6px;
  color: $purple;
}

// 房间关系

.rooms-relation{
  .section-title{
    display: flex;
    align-items: center;

    .al-toggle-button{
      margin-right: 8px;
      &.al-add-toggle-button::after{
        content:'+';
        text-align: center;
        color: $purple;
        font-size: 26px;
        line-height: 16px;
      }
    }
  }
  .section-buttons > p{
    text-align: right;
    line-height: 1.6;
    .al-toggle-button{
      margin-left: 10px;
    }
  }
}

// 户型面积

.rooms-area{
  >div{
    margin: 8px 0;
  }
  .al-input{
    width: 150px;
    margin-left: 30px;
  }
  .al-flex{
    display: flex;
    align-items: center;
    span{
      margin: 0 5px;
    }
    input[type="range"]{
      width: 120px;
      margin: 0 5px;
    }
  }
  .area-direction{
    display: flex;
    justify-content: space-between;
    .area-key{
      flex: 1;
    }
    .area-value{
      flex: 5;
      p{
        line-height: 1.5;
      }
      .al-toggle-button{
        margin-left: 10px;
      }
    }
  }
}






















